.Rproj.user
.Rhistory
.RData
.Ruserdata
./word2vec-ptp/word2vec_model_clean.bin
./word2vec-ptp/word2vec_model.bin
./data/childes_utterances.csv
./word2vec-ptp/word2vec_model_clean.bin
./word2vec-ptp/word2vec_model.bin
./data/childes_utterances.csv
./word2vec-ptp/word2vec_model_clean.bin
./word2vec-ptp/word2vec_model.bin
./data/childes_utterances.csv
